.price-and-like img {
  cursor: pointer;
  display: block;
  height: auto;
  width: 35px;
  object-fit: cover;
  margin-left: 8px;
}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: var(--actzent-color2);
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

div {
  --sb-track-color: #232e33;
  --sb-thumb-color: var(--actzent-color2);
  --sb-size: 7px;
}

div::-webkit-scrollbar {
  width: var(--sb-size);
}

div::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

div::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  div {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
